/* primary-color */
body{
    margin-left: 155.5px;
    margin-right: 155.5px;
    width: 1440px;
}
.prmry-clr{
    color: rgb(255, 84, 0);
}
/* General css */
.prmry-btn{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    padding: 14px 25px;
    border: none;
}

/* heading part  */
.web-head{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.web-head h1{
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}
.web-head img{
    height:60px;
    width: 60px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    
}
.nav-title .gray-clr{
    color: rgb(66, 66, 71);
}
.nav-title li{
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    text-align: center;  
}


/* Popular tour  */

.popular-tours{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-tours-text{
    width: 100vw;
}
.popular-tours-img{
    width: 30vw;
    text-align: left;
}

.popular-tours-text p{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-right: 10%;
    line-height: 26px;
    margin-bottom: 32px;
}
.popular-tours-text h1{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.popular-tours-text li{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-right: 15%;
    line-height: 26px;
}

/* destination part  */
/* .location{
    width: 1750px;
    text-align: center;
    display: flex;
    justify-content: center;
} */
 .destination-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 .destination-part h1{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 100px;
 }
 .destination-part p{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-left: 260px;
    padding-right: 260px;
    margin-bottom: 48px;
 }
 .location{
    gap: 20px;
 }
.maldives{
    background-image: url(Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    width:573px ;
    justify-content: center;
}
.maldives span{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.indonesia{
    background-image: url(Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    width:560px ;
    justify-content: center;
}
.indonesia span{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.srilanka{
    background-image: url(Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    width:374px ;
    justify-content: center;
}
.srilanka span{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.north-america{
    background-image: url(Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    width:474px ;
    justify-content: center;
}
.north-america span{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.kashmir{
    background-image: url(Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    width:274px ;
    justify-content: center;
}
.kashmir span{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.bangladesh{
    background-image: url(Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    width:473px ;
    justify-content: center;
}
.bangladesh span{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.bandarban{
    background-image: url(Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    width:660px ;
    justify-content: center;
}
.bandarban span{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}


.maldives-indonesia{
    display: flex;
    gap: 10px;
}
.srilanka-na-ka{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.bangladesh-bandarban{
    display: flex;
    gap: 10px;
}

/* choose part  */
.choose-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
.choose-part h1{   
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 100px;
 }
 .choose-part>p{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-left: 260px;
    padding-right: 260px;
    margin-bottom: 48px;
 }
 .choose-category img{
    height: 64px;
    width: 64px;
 }
 .choose-category h3{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
 }
 .choose-category p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
 }
 .hotel, .map, .price{
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding: 30px;
 }
 .map{
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    padding: 30px;


 }
 .price{
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
    padding: 30px;
 }

 .hotel-map{
    display: flex;
    gap: 24px;
 }
 .price-part{
    display: flex;
    justify-content: center;
    margin-top: 24px;
 }

 /* deal-dis  */
 .deals-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 .deals-part>h1{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 100px;
 }
 .deals-part>p{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-left: 260px;
    padding-right: 260px;
    margin-bottom: 48px;
 }
 .tour-detail-icon{
    display: flex;
    gap: 26px;
 }
 .clock, .group, .del-location{
    display: flex;
    align-items: center;
    gap: 12px;
 }
 .clock>img, .group>img, .del-location>img{
    width: 16.5px;
    height: 20.25px;
 }
 .clock>p, .group>p, .del-location>p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
 }
 .full-deal-dis-det{
    background-image: url(Images/Group\ 39.png);
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 24px;
 }
.deal-dis-det{
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    width: 579px;
    height: 389px;
    padding: 50px;

}
.deal-dis-det h2{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}
.deal-dis-det p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.deal-dis-det h3{
    color: rgb(255, 84, 0);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
}

.deal-dis-size{
    padding-right: 56px;
}

.full-deal-dis-det-scnd{
    background-image: url(Images/Group\ 40.png);
    justify-content: left;
    align-items: center;
}
.deal-dis-size-scnd{
    padding-left: 56px;
}
.all-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

/* simple perfect place */
.simple-perfect-part{
    display: flex;
    gap: 28px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.simple-perfect-video> iframe{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(19, 19, 24) -31.958%,rgba(19, 19, 24, 0) 100%);
}
.simple-perfect-part>.text-part{
    width: 532px;
    height: 424px;
}
.simple-perfect-part h1{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
}
.simple-perfect-part p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.simple-perfect-part ul{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
.simple-perfect-part ul li{
    margin-bottom: 16px;
}

/* our host part  */
.host-part h1{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 100px;
}
.host-part>p{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 48px;
}
.our-host{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.img-text{
    border: none;
    background-color: rgb(211, 228, 228);
    border-radius: 10px;
    text-align: center;
    padding: 25px;
}
.img-text:hover{ 
    background-color: rgb(186, 255, 255);
}
.img-text img{
    height: 60px;
    width: 60px;
}

.img-text h3{
    color: rgb(255, 84, 0);
    font-family: Mulish;
    font-size: 20px;
    font-weight: 600;
}
.img-text p{
    color: rgb(0, 0, 0);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.img-text p span{
    color: rgb(0, 0, 0);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 800;
}

/* Newsletter part  */
.newsletter-part{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.travel-full{
    background-image: url(Images/Rectangle\ 8\ \(1\).png);
    height:422px ;
    width: 672px;
}
.newsletter-text{
    width: 474px;
    height: 422px;
}
.newsletter-text h3{
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}
.newsletter-text p{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-right: 100px;
    margin-bottom: 48px;
}
.newsletter-text input{
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    width: 383px;
    height: 52px;
    margin-bottom: 16px;
    text-align: left;
    color: rgba(19, 19, 24, 0.3);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;

}

.btn-update{
    width: 393px;
    height: 52px;
    text-align: center;
    margin-top: 10px;
}
.travel-site{
    position: relative;
    transform: rotate(-30deg);
    margin-top: 230px;
    margin-left: 342px;
    background-color:rgb(255, 84, 0);
    height:120px;
    width: 324px;
    border-radius: 5px;
    text-align: center;
}
.travel-site p{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 0;
    margin-bottom: 5px;
}
.travel-site h2{
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;
}

/* footer-part  */
footer{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
footer .footer-text{
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    line-height: 26px;
    margin-top: 0;
}
.social{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
hr{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50px;
    margin-bottom: 50px;
}
.all-right{
    color: rgb(19, 19, 24);
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}